<!DOCTYPE html>
<html>
<head>
  <title>VCL</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<!hi this is a conflict 500000>
<!hi this is a conflict 500000>
<!hi this Paul's conflict messing with Greg's 500000>
</body>
</html>
