<!DOCTYPE html>
<html>
<head>
  <title>VCL</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!This is Gregory's newest conflict>
</body>
</html>
